
.headerbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

.headerbar img {
    padding: 10px;
    width: 250px;
    height: auto;
}

.title {
    color: white;
    font-family: 'Fredoka One', cursive;
    padding-left: 40px;
    font-size: 50px;
}

.events {
    background-color: lightgray;
    padding: 30px;
}

.event {
    background-color: darkgray;
    padding: 10px;
    width: 30%;
}

body {
    background-color: darkgray;
}