{% load static %}
<!DOCTYPE html>

<html>



    <head> 
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap" rel="stylesheet">
        <title> Anime & Manga Society </title>
        <link rel="icon" href="{% static 'anime soc logo2.png' %}">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js">
        </script>
    </head>

    <body> 

        <div class="headerbar">
            <img src="{% static 'anime soc logo2.png' %}"> 
            <div class="title"> 
                Anime & Manga Society <br> 
                <div class="subtitle"> 
                    Royal Holloway's hangout for fans of anime, manga, and Japanese media 
                </div> 
            </div>
            <div class="smstray">
                <a href="https://www.su.rhul.ac.uk/societies/a-z/animeandmanga/"> <img src="{% static 'rhsu-logo.svg' %}"> </a>
                <a href="https://discord.gg/TcvRq2H"> <img src="{% static 'discord-logo.svg' %}"> </a>
                <a href="https://www.facebook.com/groups/animemangarhul"> <img src="{% static 'facebook-logo.svg' %}"> </a>
                <a href="https://www.instagram.com/rhulanime/"> <img src="{% static 'instagram-logo.svg' %}"> </a>
            </div>
        </div>

        <div class="navigationbar">
            <div class="navigationlink"> <a href="#about"> About </a> </div>
            <div class="navigationlink"> <a href="#joinus"> Join Us </a> </div>
            <div class="navigationlink"> <a href="#events"> Events </a> </div>
            <div class="navigationlink"> <a href="#committee"> Committee </a> </div>
        </div>

        <div class="about" id="about">
            <div class="sectiontitle"> Welcome! </div>
            <div class="copy">
                We are the Anime & Manga Society. <br>
                We're a friendly, open, and inclusive society, who gather weekly to watch Japanese animation (also known as anime) and discuss our interests in manga. <br>
                Our main weekly activities consist of watching anime and other associated media together. <br>
            </div>
        </div>

        <div class="joinus" id="joinus">
            <div class="sectiontitle"> Join Us </div>
            <div class="copy">
                How to join the society, social media links
            </div>
        </div>

        <div class="events" id="events">
            <div class="sectiontitle"> Upcoming Events </div>
            <div class="copy"> <u> Upcoming Society Events </u> </div>
            <br> <br>
            <div class="eventsdisplay">
                {% for event in events %}
                    <div class="event">
                    {{ event.name }} <br>
                    {{ event.event_time }} <br>
                    {{ event.event_location }} <br>
                    {{ event.event_description }} <br>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="committee" id="committee">
            <div class="sectiontitle"> Our Committee </div>
            <div class="committeeimages">
                <img src="{% static 'president.png' %}">
                <img src="{% static 'treasurer.png' %}">
                <img src="{% static 'secretary.png' %}">
            </div>
        </div>

        <script>
            let anchorSelector = 'a[href^="#"]';
            $(anchorSelector).on('click', function (e) {
                e.preventDefault();
                let destination = $(this.hash);
                let scrollPosition
                    = destination.offset().top;
                let animationDuration = 500;
                $('html, body').animate({
                    scrollTop: scrollPosition
                }, animationDuration);
            });
        </script>

    </body>

</html>